---
import ScreenLayout from "@layouts/Screen.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import { calculateReadingTime, formatDate } from "@utils";
import { getCollection } from "astro:content";
import MarkdownIt from "markdown-it";

const parser = new MarkdownIt();

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  return [
    ...blogs.map((blog: any) => ({
      params: {
        blog: blog.data.draft ? "/not-found" : blog.slug,
      },
      props: {
        blog: blog,
      },
    })),
  ];
}

const { blog } = Astro.props;

import { metaData } from "@utils";

const keywords = blog.data.tags + ", Blog, " + metaData.keywords;
---

<ScreenLayout
  title={`${blog.data.title} | Blog by Nnisarg Gada`}
  description={blog.data.description}
  keywords={keywords}
  image={`https://nnisarg.in${blog.data.image}`}
>
  <div
    id="scroll-watcher"
    class="scroll-watcher fixed left-0 top-20 z-20 h-1 bg-accent"
  >
  </div>
  <div
    class="fade prose mx-auto w-full max-w-none p-6 md:prose-lg lg:prose-xl md:p-8 lg:p-12"
  >
    <div class="my-4 md:my-8 lg:my-12">
      <Breadcrumbs blog={blog.data.title} />
    </div>
    <div class="blog-content">
      <h1 class="text-4xl font-bold">{blog.data.title}</h1>
      <h3 class="text-xl">{blog.data.description}</h3>
      <div class="flex flex-wrap gap-2">
        {
          blog.data.tags
            .split(", ")
            .map((tag: string) => (
              <div class="rounded bg-accent px-2 py-1 text-sm font-bold">
                #{tag}
              </div>
            ))
        }
      </div>
      <p>
        <span class="font-bold">{formatDate(blog.data.pubDate)}</span> • <span
          class="italic">{calculateReadingTime(blog.body)} min read</span
        >
      </p>
      <Fragment set:html={parser.render(blog.body)} />
    </div>
  </div>
</ScreenLayout>

<style>
  .scroll-watcher {
    --width: 0;
    width: var(--width);
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const { scrollTop, scrollHeight } = document.documentElement;
    const scrollPercent = `${(scrollTop / (scrollHeight - window.innerHeight)) * 100}%`;
    const scrollWatcher = document.querySelector(
      ".scroll-watcher",
    ) as HTMLDivElement;

    scrollWatcher.style.setProperty("--width", scrollPercent);
  });

  const blogElements = document.querySelectorAll(".blog-content > *");
  blogElements.forEach((element) => {
    element.classList.add("move-up");
  });
</script>
