---
import ScreenLayout from "@layouts/Screen.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { projects, uniqueCategories } from "@utils";

import { metaData } from "@utils";

const description =
  "Discover a diverse portfolio of projects by Nnisarg Gada, featuring innovative web development, design, and technology solutions. Explore my work and see creativity in action.";

let image = metaData.image;

for (const project of projects) {
  if (project.image) {
    image = project.image;
    break;
  }
}
---

<ScreenLayout
  title="Projects by Nnisarg Gada"
  description={description}
  image={image}
>
  <div class="fade flex w-full flex-col gap-6 p-6 md:py-24">
    <Breadcrumbs />
    <h1 class="text-4xl font-bold text-text-light dark:text-text-dark">
      Projects
    </h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-4">
        <!-- Hidden checkbox to toggle filter menu -->
        <input type="checkbox" id="filter-toggle" class="peer hidden" />
        <label
          for="filter-toggle"
          class="w-fit cursor-pointer rounded bg-background-dark bg-opacity-80 px-4 py-2 font-bold text-text-dark peer-checked:hidden dark:bg-background-light dark:bg-opacity-20 dark:text-text-dark"
        >
          Filter by Category
        </label>
        <label
          for="filter-toggle"
          class="hidden w-fit cursor-pointer rounded bg-background-dark bg-opacity-80 px-4 py-2 font-bold text-text-dark peer-checked:block dark:bg-background-light dark:bg-opacity-20 dark:text-text-dark"
        >
          Close
        </label>

        <p
          id="filter-tooltip"
          class="text-xl font-bold text-text-light peer-checked:hidden dark:text-text-dark"
        >
          💡 You can also click on the <span class="text-accent">#</span> to filter
          by category
        </p>

        <div class="hidden gap-4 overflow-x-auto py-2 pb-4 peer-checked:flex">
          {
            uniqueCategories.map((category: string) => (
              <a
                href={`/projects/${category}`}
                title={`See projects in ${category}`}
                class="w-fit whitespace-nowrap rounded bg-accent px-4 py-2 font-bold text-text-dark transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105 hover:drop-shadow-xl dark:text-text-dark"
              >
                #{category}
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</ScreenLayout>
