---
import Bars from "@/components/svgs/Bars.astro";
import Close from "@/components/svgs/Close.astro";
const currentPath = Astro.url.pathname;
const pages = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "Projects",
    link: "/projects",
  },
  {
    name: "Blog",
    link: "/blog",
  },
  {
    name: "Contact",
    link: "/contact",
  },
  {
    name: "Résumé",
    link: "/resume",
  },
];
---

<nav
  class="bg-background fixed top-0 z-20 flex h-20 w-full items-center justify-between p-6 shadow-sm shadow-black md:px-6 md:py-4 md:text-lg lg:px-36"
>
  <h1
    class="hover:text-primary text-xl font-bold transition-all duration-300 ease-in-out hover:underline md:text-2xl lg:text-3xl"
  >
    <a href="/" title="Home">Nnisarg Gada.</a>
  </h1>

  <input type="checkbox" id="menu-toggle" class="peer hidden" />

  <label for="menu-toggle" class="cursor-pointer peer-checked:hidden md:hidden">
    <Bars />
  </label>
  <label
    for="menu-toggle"
    class="hidden cursor-pointer peer-checked:block md:hidden"
  >
    <Close />
  </label>

  <div class="hidden items-center gap-2 md:flex lg:gap-6">
    {
      pages.map((page) => (
        <a
          class={`rounded p-2 py-1 transition-all duration-300 ease-in-out ${
            page.link == currentPath || page.link + "/" == currentPath
              ? "text-primary font-bold underline hover:scale-110 hover:font-bold"
              : ""
          } ${
            page.name == "Résumé"
              ? "glow bg-primary text-background dark:text-text p-4 py-2 text-base font-bold tracking-widest uppercase hover:scale-105 md:text-lg"
              : "hover:underline"
          }`}
          href={page.link}
          title={page.name}
        >
          {page.name}
        </a>
      ))
    }
  </div>

  <!-- Mobile Menu -->
  <div
    id="menu"
    class="bg-background fixed top-20 left-0 z-10 flex h-[calc(100dvh-5rem)] w-screen translate-x-full flex-col items-center justify-start gap-4 p-6 text-lg transition-all ease-in-out peer-checked:translate-x-0 md:hidden"
  >
    {
      pages.map((page) => (
        <a
          tabindex="-1"
          class={`flex h-20 w-full items-center justify-center rounded p-2 py-1 font-bold uppercase transition-all duration-300 ease-in-out ${
            page.link == currentPath || page.link + "/" == currentPath
              ? "text-primary bg-transparent font-bold underline hover:scale-110 hover:font-bold"
              : ""
          } ${
            page.name === "Résumé"
              ? "bg-primary text-2xl tracking-widest text-white md:text-4xl"
              : "bg-background"
          }`}
          href={page.link}
          title={page.name}
        >
          {page.name}
        </a>
      ))
    }
  </div>
</nav>

<style>
  .glow:hover {
    box-shadow: 0 0 25px -5px var(--primary);
  }
</style>
