---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { projects, uniqueCategories } from "@/utils";

export function getStaticPaths() {
  return [
    ...uniqueCategories.map((category: string) => ({
      params: {
        category,
      },
      props: {
        allProjects: projects,
        category,
      },
    })),
  ];
}

const { allProjects, category } = Astro.props;

const title = `#${category} | Projects by Nnisarg Gada`;

const filteredProjects = allProjects.filter((project: any) =>
  project.categories.includes(category),
);

const description = `Explore a curated collection of ${category} projects by Nnisarg Gada, showcasing creativity and technical expertise in web development, design, and more.`;
---

<BaseLayout
  title={title}
  description={description}
  image={filteredProjects[0].image}
>
  <div class="flex w-full flex-col gap-6 p-6 md:py-20">
    <Breadcrumbs />
    <h1 class="text-3xl font-bold md:text-4xl">Projects</h1>
    <div class="flex items-center gap-4">
      <a
        class="bg-primary w-fit rounded px-4 py-2 text-sm font-semibold text-white md:text-base"
        href={`/projects/${category}`}
      >
        #{category}
      </a>
      <a class="text-sm font-medium text-red-500 md:text-base" href="/projects"
        >Clear Filter</a
      >
    </div>
    <div class="flex items-center justify-between">
      <p class="text-sm md:text-lg">{filteredProjects.length} projects</p>
    </div>
    <div class="flex flex-col gap-6">
      {
        filteredProjects.map((project: any) => (
          <ProjectCard project={project} />
        ))
      }
    </div>
  </div>
</BaseLayout>
