---
import "../styles/global.css";

import Loader from "@components/Loader.astro";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";

const title =
  Astro.props.title ||
  "Nnisarg Gada | Developer, Tech Enthusiast, Problem Solver";
const description =
  Astro.props.description ||
  "Nnisarg's portfolio website showcasing coding projects and tech adventures as a developer.";
const keywords =
  Astro.props.keywords ||
  "Nnisarg, portfolio, coding projects, tech adventures, developer, web development, programming, software projects, developer portfolio, coding journey, technology showcase, web developer, programming adventures, tech enthusiast";
const image = Astro.props.image || "https://nnisarg.in/images/profile-pic.png";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nnisarg.in/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content={image} />
    <link rel="canonical" href="https://nnisarg.in" />
    <!-- SEO -->
    <script src="../scripts/main.js"></script>
  </head>
  <body
    class="h-screen w-screen overflow-y-hidden bg-neutral-900 text-white selection:bg-accent selection:text-white"
  >
    <noscript
      class="fixed inset-0 z-50 flex h-screen w-full items-center justify-center bg-neutral-950 p-4"
    >
      <h1 class="text-center text-2xl font-bold text-accent md:text-3xl">
        Please enable JavaScript to view this site
      </h1>
    </noscript>
    <Loader />
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
