---
import BaseLayout from "@layouts/Base.astro";

const { title, date } = Astro.props.frontmatter;

const formatDate = (date: string): string => {
  return new Date(date).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  })
}
---
<BaseLayout title={`${title} | Blog by Nnisarg Gada`}>
  <article class="w-screen max-w-5xl mx-auto my-12 p-4 prose lg:prose-lg">
    <h1 transition:name={`title-${title}`} class="text-5xl font-bold">{title}</h1>
    <p transition:name={`date-${title}`} class="font-bold">Written on {formatDate(date)}</p>
    <slot />
  </article>
</BaseLayout>
